@model GestionBiblioteca.Models.Autor

@{
    ViewData["Title"] = "Detalles del Autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow-sm mt-4">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0"><i class="fas fa-info-circle me-2"></i>Consultar Autor</h4>
    </div>

    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CodAutor)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CodAutor)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.NombreAutor)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.NombreAutor)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nacionalidad)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nacionalidad)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaNacimiento)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaNacimiento)</dd>
        </dl>
    </div>

    <div class="card-footer d-flex justify-content-between">
        @Html.ActionLink("Modificar", "Edit", new { id = Model.CodAutor }, new { @class = "btn btn-primary btn-sm" })
        <a asp-action="Index" class="btn btn-secondary btn-sm">Volver al listado</a>
    </div>
</div>
