@model GestionBiblioteca.Models.Usuario

@{
    ViewData["Title"] = "Detalles de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow-sm mt-4">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0"><i class="fas fa-user me-2"></i>Consultar Usuario</h4>
    </div>

    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CodUsuario)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CodUsuario)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Username)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Username)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Password)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Password)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaCreacion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaCreacion)</dd>
        </dl>
    </div>

    <div class="card-footer d-flex justify-content-between">
        @Html.ActionLink("Modificar", "Edit", new { id = Model.CodUsuario }, new { @class = "btn btn-primary btn-sm" })
        <a asp-action="Index" class="btn btn-warning btn-sm">Volver al listado</a>
    </div>
</div>
